.profile {
    float: right;
    width: 70%;
    margin: 1rem 1rem 1rem;
}

.profile-edit--tab {
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    height: 1.5rem;
}

.profile-edit--form, .settings {
    width: inherit;
    height: 15rem;
    background-color: black; /*dropdown made black for visibility, should  be removed*/
    margin: 0.2rem 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease 0s;
}

.drop-down, .drop-down--settings {
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.show {
    display: block;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}